@font-face {
  font-family: 'basis';
  src: url('basis.otf')  format('otf');
}
body{
    color:#fff;
    background-image: url(images/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    background-attachment: fixed;
}
html{
    height: 100%;
    font-size: 16px;
    font-family: "basis", "Segoe UI", Helvetica, Arial, sans-serif;
}
.headtext{
    font-family: "basis", "Segoe UI", Helvetica, Arial, sans-serif;
    color:#fff;
    border: 7px solid white;
    padding: 15px;
    padding-top: 0px;
    text-align: left;
    border-radius: 5px;
    font-size: 5vw;
    margin-top: 60px;
}
h2{
    font-family: "basis", "Segoe UI", Helvetica, Arial, sans-serif;
    color:#fff;
    font-size: 2.5vw;
    padding-top: 35px;
    text-align: left;
}
h3{
    font-family: "basis", "Segoe UI", Helvetica, Arial, sans-serif;
    color:#fff;
    padding-top: 20px;
    font-size: 1.7vw;
}
.btnn{
    border: 7px solid white;
    border-radius: 5px;
    width: 12vw;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.btn {
    background: transparent;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
.headtextt{
    font-family: "basis", "Segoe UI", Helvetica, Arial, sans-serif;
    color:#fff;
    border: 3px solid white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 8vw;
}
.btnn1{
    border: 3px solid white;
    border-radius: 5px;
    width: 30vw;
}
.h22{
    font-family: "basis", "Segoe UI", Helvetica, Arial, sans-serif;
    color:#fff;
    font-size: 5vw;
    padding-top: 20px;
    margin-top: 5px;
}
.h33{
    font-family: "basis", "Segoe UI", Helvetica, Arial, sans-serif;
    color:#fff;
    padding-top: 5px;
    font-size: 4vw;
    margin-top: 5px;
    margin-bottom: 15px;
}
.tint{
    height: 100vh;
    width: 100vw;
    background-color: #000;
    opacity: 0.4;
    position: absolute;
    z-index: -1;
}
@media screen and (orientation:portrait) {
    body{
        background-image: url('images/p/4.jpg');
    }
    .loader {
        border: 9px solid #f3f3f3; /* Light grey */
        border-top: 9px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 2s linear infinite;
        margin: auto;
    }
}
@media only screen and (max-width: 1199px)
{
    .headtextt{
        font-size: 6vw;
    }
    .h22{
        font-size: 4vw;
    }
    .h33{
        font-size: 3vw;
    }
}
